body {
  font-family: '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

.uk-breadcrumb > * > * {
  font-size: 1.1rem;
}

.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
  font-size: 1.1rem;
}

.uk-notification {
  border: 1px solid #aaa
}

.uk-notification-message {
  > div {
    font-weight: bold;
    display: flex !important;
    align-items: center !important;

    > span {
      margin-right: .5rem;
    }
  }
}

.padding-x-15px {
  padding-left: 15px;
  padding-right: 15px;
}

/* cursor */
.cursor {
  cursor: pointer;
}

/* margin */
$max: 10;
@for $i from 1 through $max {
  .mtp-#{$i} {
    margin-top: $i * 1px;
  }
}

/* font-size */
.size-12 {
  font-size: 12px;
}

.size-18 {
  font-size: 18px;
}

.size-20 {
  font-size: 20px;
}

.size-26 {
  font-size: 26px;
}

/* web */
.mobile {
  display: none;
}

@media (max-width: 960px) {
  .web {
    display: none;
  }

  .mobile {
    display: block;
  }

  .uk-breadcrumb > * > * {
    font-size: 14px;
  }

  .uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
    font-size: 14px;
    margin: 0 5px;
  }

}

.product-style {
  display: block;
  position: relative;

  @media (max-width: 960px) {
    display: none;
  }

  > div {
    text-align: center;
    padding: 16px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', 'Noto Sans TC', 'Noto Sans SC', 'Mitr', 'Athiti', sans-serif;
    position: absolute;
    width: 100%;
    background-color: #338fb8;
    color: #fff;
    left: 0;
    bottom: 0;
    transition: all 250ms ease-out;
    opacity: 0;
    transform: translateY(40px);
  }

  &:hover > div {
    opacity: 1;
    transform: translateY(0px);
  }
}

.not-find {
  padding: 20px 0;
  color: #c30d23;
  font-size: 14pt;
  font-weight: 600;
  font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  text-align: center;
}
