.uk-breadcrumb > * > * {
  font-size: 1.1rem;
}

.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
  font-size: 1.1rem;
}

.uk-notification {
  border: 1px solid #aaa
}

.uk-notification-message {
  > div {
    font-weight: bold;
    display: flex !important;
    align-items: center !important;

    > span {
      margin-right: .5rem;
    }
  }
}

.padding-x-15px {
  padding-left: 15px;
  padding-right: 15px;
}

/* cursor */
.cursor {
  cursor: pointer;
}

/* font-size */
.size-18 {
  font-size: 18px;
}

.size-20 {
  font-size: 20px;
}

.size-26 {
  font-size: 26px;
}
