label {
  margin-bottom: 0;
  min-width: 90px;

  @media (max-width: 960px) {
    margin-bottom: 5px;
  }
}

.container {
  padding: 25px 4vmin 75px;
  width: calc(100% - 15vmin);
  min-width: calc(100% - 200px);
  max-width: calc(100% - 200px);
  flex-basis: calc(100% - 200px);

  @media (max-width: 960px) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .form-content {
    max-width: 1000px;
    padding-left: 20vmin;
    padding-right: 20vmin;

    @media (max-width: 960px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .submit-button {
    @media (max-width: 960px) {
      margin-top: 20px;
    }
  }
}

.uk-modal-dialog {
  width: 400px;
}
